body {
    background-color: #f2f4f7;
    margin: 40px;

}

.img {
    display: flex;
    justify-content: center;


}

.main-paragraph {

    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    padding-top: 0px;
    font-family: sans-serif;

}

.inputs-form {

    border: 1px solid rgb(240, 236, 236);
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 10px 20px 50px rgb(206, 203, 203);

}

.form {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

}

.email-input {
    border-radius: 7px;
    border: 1px solid rgb(155, 146, 146);
    width: 400px;
    height: 49px;

}

.password-input {
    display: flex;
    border-color: rgb(238, 241, 244);
    border-radius: 7px;
    border: 1px solid rgb(155, 146, 146);
    width: 400px;
    height: 49px;
}

.login-button {
    border-radius: 7px;
    border: 0px;
    width: 410px;
    height: 50px;
    background-color: rgb(24, 119, 242);
    color: white;
    font-size: larger;
    font-style: initial;
    font-weight: 700;
}

.forget-password {
    display: flex;
    justify-content: center;
    color: rgb(24, 119, 242);
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
}

.creat-button {
    border-radius: 7px;
    background-color: rgb(66, 183, 42);
    color: white;
    font-size: larger;
    font-weight: 700;
    margin-left: 90px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
}

.last-paragraph {
    text-align: center;
    font-family: sans-serif;

}

.login-button:hover {
    background-color: dodgerblue;
}

.forget-password:hover {
    text-decoration: underline;
}

.creat-button:hover {
    background-color: rgb(84, 165, 84);
}

.password-input::placeholder {
    padding-left: 20px;
    font-size: larger;
    

}

.email-input::placeholder {
    padding-left: 20px;
    font-size: larger;
}